In [70]:
import os
import sys
import fsdata

import numpy as np
import pandas as pd

from pathlib import Path

%load_ext nbmask

The nbmask extension is already loaded. To reload it, use:
  %reload_ext nbmask

In [71]:
workdir = Path.cwd().parent

config_dir = workdir.joinpath("tests", "config")

os.environ["FSDATA_CONFIG_DIRS"] = config_dir.as_posix()
os.environ["WORKDIR"] = workdir.as_posix()

In [72]:
config = fsdata.read_config()
config.write(sys.stdout)

[samples]
path = $WORKDIR/tests/samples

In [73]:
config.get("samples", "path")

'/Users/.../Projects/fsdata-proto/tests/samples'

In [74]:
fsdata.config_dirs()

['/Users/.../Projects/fsdata-proto/tests/config']

In [75]:
dir(fsdata)

['Collection', 'samples']

In [76]:
from fsdata import samples
# samples

_getattr__ samples

In [77]:
from fsdata import samples

In [78]:


samples.items()

['df']

In [79]:
config = fsdata.read_config()   
config

In [80]:
config.sections()

['samples']

In [81]:
config.write(sys.stdout)

[samples]
path = $WORKDIR/tests/samples

In [82]:
df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.732534  1.238477 -0.641340  0.614247
1  0.286368  0.303226 -0.316501 -0.118536
2  0.178673  0.369942 -0.867840 -0.768558
3 -0.801875 -0.304602  1.572127 -0.920924
4 -1.788935  0.994850  0.053538  0.074310
5  0.252328 -0.249623 -0.665560  0.212088
6  1.600569  0.276568 -0.674965 -0.988032
7 -2.480121  1.355209 -1.631882  1.224277
8  1.094545 -2.658251 -1.092294 -0.786033
9 -1.920025  0.220368  0.229316 -2.109886

In [83]:
samples.save("df", df)
samples.items()

['df']

In [84]:
samples.load("df")

          A         B         C         D
0  0.732534  1.238477 -0.641340  0.614247
1  0.286368  0.303226 -0.316501 -0.118536
2  0.178673  0.369942 -0.867840 -0.768558
3 -0.801875 -0.304602  1.572127 -0.920924
4 -1.788935  0.994850  0.053538  0.074310
5  0.252328 -0.249623 -0.665560  0.212088
6  1.600569  0.276568 -0.674965 -0.988032
7 -2.480121  1.355209 -1.631882  1.224277
8  1.094545 -2.658251 -1.092294 -0.786033
9 -1.920025  0.220368  0.229316 -2.109886

In [85]:
dir(fsdata)

['Collection', 'samples']

In [86]:
from fsdata import samples