In [ ]:
import os
import sys

import fsdata

from pathlib import Path

from fsdata.config import read_config
from fsdata.testing import setup_environment

setup_environment()

%load_ext nbmask

In [2]:
config = read_config()
config.write(sys.stdout)

[testdata]
path = /Users/frederic/Projects/fsdata-proto/tests/data

In [3]:
testdata = fsdata.get("testdata")

testdata.items()

['sample']

In [4]:
testdata.load("sample")

          A         B         C         D
0  0.732534  1.238477 -0.641340  0.614247
1  0.286368  0.303226 -0.316501 -0.118536
2  0.178673  0.369942 -0.867840 -0.768558
3 -0.801875 -0.304602  1.572127 -0.920924
4 -1.788935  0.994850  0.053538  0.074310
5  0.252328 -0.249623 -0.665560  0.212088
6  1.600569  0.276568 -0.674965 -0.988032
7 -2.480121  1.355209 -1.631882  1.224277
8  1.094545 -2.658251 -1.092294 -0.786033
9 -1.920025  0.220368  0.229316 -2.109886